body {
  background-color: #fff;
}

img {
  padding: 1px;
  border: 3px solid #111;
  border-radius: 8px;
  max-width: 90%;
}

.about-me img {
    display: inline-block;
    float: left;
    max-width: 30%;
    margin-right: 15px;
}

#about-text {
  float: right;
  align-content: space-around;
  margin-left: 10px;
  max-width: 67%;
}

.about-me {
  width: 95%;
  margin: 20px auto 100px;
  overflow: hidden;
}

h1, h2, h3 {
  background-color: #DDF;
  color: #0067BC;
  padding-left: 4px;
  padding-bottom: 3px;
  border: 1px solid #0067BC;
  border-radius: 3px;
}

.container {
  margin: 2% 5%;
  border: 1px solid #333;
}
